@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p class="lead">
    Smile Enjoy is a young software development company, the result of the initiative of a passion for the work
    of designing systems with a high level of technology and performance along a trajectory that has
    been built over 40 years of experience. The challenge is to conceive Smart Software Model One,
    a system with the intention of offering something innovative, which allows carrying out routine
    business management transactions in an automated manner and/or a user-friendly interface.
    Invaluable for companies that want to share a new way of managing business on a Web platform with
    Cloud resources.
</p>


<p class="lead">
    This project consists of developing a business management system.
    The most recent ASP.NET programming techniques for Web application technology were used.
    The database chosen was Microsoft SQLServer.
    The queries to create the entire database infrastructure were made in Microsoft SQL Management Studio v18.9.1.
    The C# programming language provides high quality and performance for the developed programs.
    The source programs were written in Framework Visual Studio 2019.
    The system was planned to work on a hardware platform in a Cloud environment.
</p>
