@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Encantada, S/N<br />
    Praia da Barra,<br /> 
    Garopaba, SC <br />
    88.495-000<br />
    <!-- <abbr title="Phone">P:</abbr> -->
    Phone: +55 41 99169-9080 / +55 11 93019-5765
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@enjoyisfun.com">Support@enjoyisfun.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@enjoyisfun.com">Marketing@enjoyisfun.com</a>
</address>